<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  th:with="title='List of new admission applications'">

<th:block th:replace="fragments/common::commonPage(_, ~{::main})">
	<main>
		<h3>[[${title}]]</h3>
		<table class="table table-bordered">
			<thead class="thead-light">
				<tr>
					<th scope="col">id</th>
					<th scope="col">Enrollee</th>
					<th scope="col">Speciality</th>
					<th scope="col">Subject points</th>
					<th scope="col">Rating score</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="app : ${session.notAcceptedApps}">
					<th th:text="${app.id}"/>
					<td th:text="|${app.application.applicant.user.firstName} ${app.application.applicant.user.lastName}|"/>
					<td th:text="${app.application.speciality.title}"/>
					<td>
						<div th:each="znoMark: ${app.application.znoMarks}"
							th:text="|${znoMark.key.title}: ${znoMark.value} score.,|">
						</div>
						<div th:text="|Average grade score: ${app.application.attMark} score.|"></div>
					</td>
					<td th:text="${#numbers.formatDecimal(app.totalMark, 3, 2)} + ' score.'"/>
					<td>
						<a th:href="@{'/application/edit?id=' + ${app.id}}">Open</a>
					</td>
				</tr>
			</tbody>
		</table>
	</main>
</th:block>

</html>