<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  th:with="title='Main page'">

<th:block th:replace="fragments/common::commonPage(_, ~{::main})">
	<main>
		<h3 th:inline="text">Hello,
			[[${session.user}?${session.user.firstName}:${#authentication.principal.firstName}]]
			[[${session.user}?${session.user.lastName}:${#authentication.principal.lastName}]]!
		</h3>

		<div sec:authorize="hasAuthority('USER')">
			<p th:if="${session.user.applicant} == null" class="lead">
				To get started, tell us about yourself by filling out <a th:href="@{/user/profile}">the personal data</a>.
			</p>
			<p th:if="${session.user?.applicant} AND ${#lists.size(session.specialities) < 5}" class="lead">
				Now you can <a th:href="@{/application}">apply</a> for participation in the entrance competition for one of the specialties.
			</p>
			<p th:if="${isRejectedAppsPresent}" class="lead">
				Some previously submitted applications were rejected. Check their statuses <a th:href="@{/application}">here</a> and fix any bugs found.
			</p>
			<div th:if="${!session.specialities.isEmpty()}">
				<p class="lead">
					Below you can find the rating of applicants for selected specialties.
				</p>
				<div class="row">
					<div th:each="speciality : ${session.specialities}">
						<div class="card mx-2 my-2" style="width: 18rem">
							<div class="card-body">
								<span th:if="${speciality.recruitmentCompleted == true}" class="badge badge-pill badge-success">Recruitment completed!</span>
								<span th:each="entry : ${enrolledApplicants}"
									  th:if="${speciality.recruitmentCompleted == true} AND ${entry.key.equals(speciality)} AND ${entry.value.contains(session.user?.applicant)}"
									  class="badge badge-pill badge-success">You are accepted!</span>
								<span th:each="entry : ${enrolledApplicants}"
									  th:if="${speciality.recruitmentCompleted == true} AND ${entry.key.equals(speciality)} AND ${!entry.value.contains(session.user?.applicant)}"
									  class="badge badge-pill badge-danger">You are not accepted!</span>
								<h5 class="card-title">[[${speciality.title}]]</h5>
								<h6 class="card-subtitle mb-4 text-muted">[[${speciality.faculty.title}]] faculty</h6>
								<p class="card-text"><b>Enrollment Plan: </b>[[${speciality.enrollmentPlan}]]</p>
								<p class="card-text" th:each="submittedApp : ${submittedApps}" th:if="${submittedApp.key.equals(speciality)}">
									<b>Documents submitted: </b>[[${submittedApp.value}]]
								</p>
								<p class="card-text" th:each="submittedApp : ${submittedApps}" th:if="${submittedApp.key.equals(speciality)}">
									<b>General competition: </b>[[${#numbers.formatDecimal(#conversions.convert(submittedApp.value, 'Double') / speciality.enrollmentPlan, 1, 2)}]]
								</p>
								<a th:href="@{'/ratingList/speciality?id=' + ${speciality.id}}" class="card-link">rating list</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div sec:authorize="hasAuthority('ADMIN')">
			<div th:if="${!session.notAcceptedApps.isEmpty()}">
				<p class="lead">
					It is necessary to process the list of new introductory applications from applicants.
				</p>
				<div class="row">
					<div th:each="app : ${session.notAcceptedApps}">
						<div class="card mx-2 my-2" style="width: 18rem">
							<div class="card-body">
								<h5 class="card-title">[[${app.application.applicant.user.firstName}]] [[${app.application.applicant.user.lastName}]]</h5>
								<h6 class="card-subtitle mb-4 text-muted">[[${app.application.speciality.title}]]</h6>
								<p class="card-text"><b>Subject points: </b>
								<div th:each="znoMark: ${app.application.znoMarks}">
									[[${znoMark.key.title}]]: [[${znoMark.value}]] score.,
								</div>
								<div>Average grade score : [[${app.application.attMark}]] score.</div>
								</p>
								<p class="card-text"><b>Rating score: </b>[[${#numbers.formatDecimal(app.totalMark, 3, 2)}]] score.</p>
								<a th:href="@{'/application/edit?id=' + ${app.id}}" class="card-link">Open application</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:if="${session.notAcceptedApps.isEmpty()}">
				<p class="lead">
					All student applications have been processed. There are no new entries.
				</p>
			</div>
		</div>

	</main>
</th:block>

</html>